# ─── Файлы IDE / редактора ─────────────────────────────────────
.vscode/
.idea/

# ─── Зависимости Node.js ──────────────────────────────────────
node_modules/

# ─── Конфигурация окружения ──────────────────────────────────
.env

# ─── Базы данных ─────────────────────────────────────────────
*.sqlite
*.db
public

# ─── Сборка / артефакты компиляции ────────────────────────────
dist/
build/
bot.cjs